body {
    background-color: black;
}

#video {
    position: absolute;
    left: 0vw;
    right: 0vw;
    top: 0;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    max-height: 95vh;
}

#overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
    animation-duration: 1s;
}
