body {
    background-color: black;
}

#video {
    position: absolute;
    left: -10vw;
    right: 10vw;
    top: 0;
    width: 120vw;
    height: auto;
    max-height: 95vh;
}

#overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
}
